{% extends 'admin_masterpage.html' %}

{% block title %}
Update Medicine
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Medicine</span>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>Category</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Modify</th>
                </tr>
                {% if data %}
                {% for name in data %}
                <tr>
                    <td>{{ name.cat_id }}</td>
                    <td>{{ name.med_name}}</td>
                    <td>{{name.image}}</td>
                    <td>{{name.price}}</td>
                    <td>{{name.description}}</td>
                    <td><a href="{% url 'backend_panel:delete_details' %}?id={{name.id}}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'backend_panel:med_details' %}?id={{name.id}}" class="btn btn-warning">Edit</a></td>
                </tr>
            {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}