{% extends 'admin_masterpage.html' %}

{% block title %}
Add Medicine Category
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Add Medicine Category</span>
        </div>
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Category Name</label>
                    <input type="text" class="form-control" name="med_category" placeholder="Category Name">
                </div>
                <div>
                    <input type="submit" value="Add Category" class="btn btn-primary btn-block">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}