{% extends 'admin_masterpage.html' %}

{% block title %}
Update Medicine
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Medicine</span>
        </div>
        <div class="col-sm-12">
            {% if data %}
            {% for name in data %}
            {{ name.med_name}}
            {{name.image}}
            {{name.price}}
            {{name.description}}
            <a href="{% url 'backend_panel:delete_details' %}?id={{name.id}}" class="btn btn-danger">Delete</a>
            <a href="{% url 'backend_panel:med_details' %}?id={{name.id}}" class="btn btn-warning">Edit</a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}