{% extends 'admin_masterpage.html' %}

{% block title %}
Update Symptoms
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>Update Symptoms</span>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>Disease Id</th>
                    <th>Symptom</th>
                    <th>Modify</th>
                </tr>
                {% if data %}
                {% for name in data %}
                <tr>
                    <td>{{ name.dis_id }}</td>
                    <td>{{ name.symptoms }}</td>
                    <td><a href="{% url 'backend_panel:delete_symptoms' %}?id={{name.id}}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'backend_panel:edit_symptoms' %}?id={{name.id}}" class="btn btn-warning">Edit</a></td>
                </tr>
            {% endfor %}
            {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}