{% extends 'admin_masterpage.html' %}
{% block title %}
User_Details
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 h1 text-center">
            <span>User Details </span>
        </div>
        <div class="col-sm-12">
            <table class="table table-striped">
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>gender</th>
                </tr>
                {% if data %}
                <tr>
                    <td> {{ data.name }}</td>
                    <td>{{ data.email }}</td>
                    <td>{{ data.gender }}</td>
                </tr>
            {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock %}