.pura
{
background:url(/assets/images/stethoscope.jpg);
height:800px;
width:1500px;
background-size:cover;
padding-bottom:250px;
color:white;
padding:50px 0;
}
.le{
padding-left:20px;
color:white;
font-weight:bold;
font-size:18px;
font-style:italic;
}
.create{
text-align:center;
font-style:italic;
font-size:34px;
font-weight:bold;
margin-top:130px;
margin-bottom:15px;
}
.pu{
width:220px;
margin-left:30px;}

.in1{
margin-left:25px;
border:none;
outline:none;
background:transparent;
border-bottom:1px solid white;
height:20px;}

.role{
margin-left:40px;
}

select{
width:100px;
color:black;
padding:2px;
}
.form_group{
margin-bottom:20px;
}
.registration{
background-color:rgba(252,252,252,0.2);
width:320px;
height:auto;
margin:0 auto;
padding:15px;
border-radius:10px;
box-sizing:border-box;
border:1px solid white;
}
.submit{
color:black;}
.l{
font-size;16px;
font-weight:bold;}


.whole{
background:url(/assets/images/forget-reset.jpg);
background-size:cover;
height:880px;
width:1500px;
padding-bottom:250px;
padding:50px 0;
color:black;
}
.forget{
background-color:rgba(252,252,252,0.4);
width:300px;
height:80px;
padding:15px;
margin-top:40px;
margin-left:550px;}
.f{
width:220px;
}
.r{
border:none;
outline:none;
border-bottom:1px solid white;
background:transparent;}


/*login*/
.log{
height:250px;
width:270px;
position:absolute;
left:1055px;
bottom:268px;
background:#23b5b9;
padding:20px;
z-index:1000;
color:white;
border:1px solid white;
border-radius:4%;
display:none;}

.for1{
padding-top:6px;
font-size:16px;
font-style:italic;
font-weight:bold;}

.for2{
margin-left:25px;
color:white;
font-style:italic;
font-size:16px;
font-weight:bold;
}
.lab{
margin-left:25px;
margin-bottom:15px;
margin-top:15px;
}
.l{
font-size:16px;
font-style:italic;
font-weight:bold;
}
.inlog{
border:none;
outline:none;
background:transparent;
border-bottom:1px solid white;
height:20px;
width:185px;
color:white;
font-size:14px;
}
.bda{
width:122px;
margin-top:15px;
color:black;
margin-left:25px;
font-size;16px;
font-weight:bold;}

/************************categories****************************************/
.med_cat{
width:130px;
height:125px;
position:absolute;
left:782px;
bottom:392px;
padding:20px;
z-index:1000;
background-color:rgba(0,0,0,1.0);
display:none;
}




.aha{
padding-left:4px;
padding-bottom:10px;
}

.hr{
color:#23b5b9;
font-weight:bold;}
/************Prescription**********/
.pres{
width:205px;
height:295px;
position:absolute;
left:904px;
bottom:222px;
padding:20px;
z-index:1000;
background-color:rgba(0,0,0,1.0);
display:none;


}
.same_cls{
color:#23b5b9;}
.dis{
margin-top:8px;
}
.view-all{
height:20px;
width:165px;
background-color:#23b5b9;
margin-top:25px;
border-radius:4px%;
}
.view{
padding-left:45px;
color:black;
font-style:italic;
font-weight:bold;}

/*******************background**********************/
.piche{
width:100%;
height:auto;
background-color:#23b5b9;
}

.description{height:542px;
width:1140px;
background-color:white;
margin-left:105px;
margin-bottom:212px;
position:absolute;
z-index:500;
top:267px;
}
.bimari{
width:100%;
height:780px;
background-color:#23b5b9;
}