.pura
{
background:url(/assets/images/stethoscope.jpg);
height:800px;
width:1500px;
background-size:cover;
padding-bottom:250px;
color:white;
padding:50px 0;
}
.le{
padding-left:20px;
color:white;
font-weight:bold;
font-size:18px;
font-style:italic;
}
.create{
text-align:center;
font-style:italic;
font-size:34px;
font-weight:bold;
margin-top:130px;
margin-bottom:15px;
}
.pu{
width:220px;
margin-left:30px;}

.in{
margin-left:25px;
border:none;
outline:none;
background:transparent;
border-bottom:1px solid white;
height:20px;}

.role{
margin-left:40px;
}

select{
width:100px;
color:black;
padding:2px;
}
.form_group{
margin-bottom:20px;
}
.registration{
background-color:rgba(252,252,252,0.2);
width:320px;
height:auto;
margin:0 auto;
padding:15px;
border-radius:10px;
box-sizing:border-box;
border:1px solid white;
}
.submit{
color:black;}
.l{
font-size;16px;
font-weight:bold;}


.whole{
background:url(/assets/images/forget-reset.jpg);
background-size:cover;
height:880px;
width:1500px;
padding-bottom:250px;
padding:50px 0;
color:black;
}
.forget{
background-color:rgba(252,252,252,0.4);
width:300px;
height:80px;
padding:15px;
margin-top:40px;
margin-left:550px;}
.f{
width:220px;
}
.r{
border:none;
outline:none;
border-bottom:1px solid white;
background:transparent;}


/*login*/
.log{
height:200px;
width:250px;
position:absolute;
left:930px;
bottom:324px;
background-color:rgba(60,30,30,0.89);
padding:20px;
z-index:1000;
color:white;}
.for{
color:white;}
.lab{
margin-left:15px;
margin-bottom:15px;}