{% extends 'masterPage.html' %}
{% block title %}
Allopathy
{% endblock %}
{% block content %}
<div class="piche">
    <div class="col-sm-12 h1 text-center" style="background-color:rgba(225,40,50,1); height:80px; margin-top:0px; color:white; margin-bottom:30px;padding-top:18px;"><h1>Allopathic Medicine</h1></div>
<div class="container" >
    <div class="row">
        {% for i in data %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../media/{{ i.image }}" alt="/" >
                <div class="caption">
                     <h3 style="font-weight:bold;">{{ i.med_name|slice:"20" }}</h3>
                    <p>{{ i.price }}</p>
                    <div class="hua" style="height:36px; width:214px; background-color:#23b5b9; padding-left:63px; padding-top:7px; margin-left:8px;"><a href="{% url 'backend_panel:medicine_detail' %}?id={{i.id}}"  style="color:white; font-style:bold">Click here!</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}