{% extends 'masterPage.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}
<div class="whole">
    <div class="forget">
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Enter Email:</label>
                <input type="text" name="Enter Email" placeholder="Enter email" class="f r">
            </div>
            <input type="submit" value="Send OTP" id="submit" class="f ">
        </form>
    </div>
    <h4  style="display:none;">Please check your email for otp</h4>
</div>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function(){
$('#submit').click(function(){
$('h4').show();
   });
});
{% if con %}
alert("please do verify ur email")
{% endif %}
{% if confirm %}
alert("no user found")
{% endif %}
</script>
{% endblock %}