{% extends 'masterPage.html' %}
{% block title %}
Forgot Password
{% endblock %}
{% block content %}
<div class="whole">
    <div class="forget">
        <form method="post">
            {% csrf_token %}
            {% if otp %}
            <div>
                <label>OTP</label>
                <input type="text" name="text">
            </div>
            <div>
                <label>New Password</label>
                <input type="password" name="n_pass">
            </div>
            <div>
                <label>Confirm Password</label>
                <input type="password" name="c_pass">
            </div>
            <input type="submit" value="Update Password">
            {% else %}
            <div>
                <label>Email</label>
                <input type="text" name="text">
            </div>
            <div>
                <input type="hidden" name="n_pass">
            </div>
            <div>
                <input type="hidden" name="c_pass">
            </div>
            <input type="submit" value="Send OTP">
            {% endif %}
        </form>
    </div>
    <h4  style="display:none;">Please check your email for otp</h4>
</div>
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script>
$(document).ready(function(){
$('#submit').click(function(){
$('h4').show();
   });
});
{% if con %}
alert("please do verify ur email")
{% endif %}
{% if confirm %}
alert("no user found")
{% endif %}
</script>
{% endblock %}