{% extends 'masterPage.html' %}

{% block title %}
EasyMeds
{% endblock %}

{% block content %}
<!-- //Line Slider -->
	 <div class="top_banner">
		<!-- SVG Arrows -->
		<div class="svg-wrap">
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-left" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
			</svg>
			<svg width="64" height="64" viewBox="0 0 64 64">
				<path id="arrow-right" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
			</svg>
		</div>

        <div class="pres">
			 {% if data %}
			 {% for i in data %}
			 <div class="dis">
				 <a href="{% url 'backend_panel:prescription_detail' %}?id={{i.id}}" class="same_cls">{{ i.dis_name }}</a>
			 </div>
			 {% endfor %}
			 <div class="view-all">
				 <a href="/prescription/" class="view">View all</a>
			 </div>
			 {% endif %}
	    </div>

		<div class="sleekslider">
			<!-- Slider Pages -->
			<div class="slide active bg-1">
				<div class="slide-container">
					<div class="slide-content">
						<p>Welcome to <span class="s-p">EASYMEDS</span>!</p>
					</div>

				</div>
			</div>
			<div class="slide bg-2">
				<div class="slide-container">
					<div class="slide-content">
						<p>Welcome to <span class="s-p">EASYMEDS</span>!</p>

					</div>
				</div>
			</div>
			<div class="slide bg-3">
				<div class="slide-container">
					<div class="slide-content">
						<p>Welcome to <span class="s-p">EASYMEDS</span>!</p>

					</div>
				</div>
			</div>
			<div class="slide bg-4">
				<div class="slide-container">
					<div class="slide-content">
					<p>Welcome to <span class="s-p">EASYMEDS</span>!</p>

					</div>
				</div>
			</div>
			<div class="slide bg-5">
				<div class="slide-container">
					<div class="slide-content">
					<p>Welcome to <span class="s-p">EASYMEDS</span>!</p>

					</div>
				</div>
			</div>

			<!-- Navigation Arrows with Thumbnails -->
			<nav class="nav-split">
				<a class="prev" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-left" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Previous thumb"/>
					</div>
				</a>
				<a class="next" href="">
					<span class="icon-wrap"><svg class="icon" width="22" height="22" viewBox="0 0 64 64"><use xlink:href="#arrow-right" /></svg></span>
					<div>
						<h3>test</h3>
						<img alt="Next thumb"/>
					</div>
				</a>
			</nav>

			<!-- Pagination -->
			<nav class="pagination">
				<span class="current"></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</nav>

			<!-- Navigation Tabs -->
			<nav class="tabs">
				<div class="tab-container">
					<ul>
						<li class="current"><a href="#"><span>01</span> Slide</a></li>
						<li><a href="#"><span>02</span> Slide</a></li>
						<li><a href="#"><span>03</span> Slide</a></li>
						<li><a href="#"><span>04</span> Slide</a></li>
						<li><a href="#"><span>05</span> Slide</a></li>
					</ul>
				</div>
			</nav>
		</div>

		<!-- JavaScripts -->
		<script type="text/javascript" src="/assets/js/sleekslider.min.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
      <!--welcome-->
 </div>

        <!-- /Line Slider -->
	</div>
    <!--footer-->
<div style="margin-top:80px; text-align:center;"><h1 style="font-size:55px; font-weight:bold; color:#e45753;">Deals at steel</h1></div>
<div class="container" style="margin-top:30px; background-color:rgba(211,211,211,0.7);  padding-top:20px;" >
    <div class="row">
        {% for j in a_data %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../media/{{ j.image }}" alt="/" >
                <div class="caption">
                     <h3 style="font-weight:bold;">{{ j.med_name|slice:"20" }}</h3>
                    <p>{{ j.price }}</p>
                    <div class="hua" style="height:36px; width:214px; background-color:#23b5b9; padding-left:63px; padding-top:7px; margin-left:8px;"><a href="{% url 'first_panel:medicine_detail' %}?id={{j.id}}" style="color:white; font-style:bold">Click here!</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container" style="margin-top:20px; background-color:rgba(211,211,211,0.7);  padding-top:20px;" >
    <div class="row">
        {% for k in h_data %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../media/{{ k.image }}" alt="/" >
                <div class="caption">
                     <h3 style="font-weight:bold;">{{ k.med_name|slice:"20" }}</h3>
                    <p>{{ k.price }}</p>
                    <div class="hua" style="height:36px; width:214px; background-color:#23b5b9; padding-left:63px; padding-top:7px; margin-left:8px;"><a href="{% url 'first_panel:medicine_detail' %}?id={{k.id}}" style="color:white; font-style:bold">Click here!</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div style="width:100%;">
<div class="container" style="margin-top:20px; background-color:rgba(211,211,211,0.7);  padding-top:20px;" >
    <div class="row">
        {% for l in y_data %}
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="../media/{{ l.image }}" alt="/" >
                <div class="caption">
                     <h3 style="font-weight:bold;">{{ l.med_name|slice:"20" }}</h3>
                    <p>{{ l.price }}</p>
                    <div class="hua" style="height:36px; width:214px; background-color:#23b5b9; padding-left:63px; padding-top:7px; margin-left:8px;"><a href="{% url 'first_panel:medicine_detail' %}?id={{l.id}}" style="color:white; font-style:bold">Click here!</a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
<!-- Services -->

		<div class="services" id="services">
			<div class="container">

				<div class="inner-w3">
					    <div class="sub-hd">
						<h3 class="tittle">ABOUT <span>US</span></h3>
					</div>
					</div>

				<div class="inner_tabs">
				    <h2 class="tittle">Welcome to EASYMEDS</h2>
					<p class="sub-para">Easymeds is a website that is made to help the people for getting knowledge about the medicine that they need to take during any type of diseases. It will help them to detect the disease with reading the symptoms and make them know that which medicine that need to take at that time.   </p>
					<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
						<ul id="myTab" class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">Prescription</a></li>
							<li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours"> Allopathy </a></li>
							<li role="presentation"><a href="#tree" role="tab" id="tree-tab" data-toggle="tab" aria-controls="tree">Homopathy </a></li>
							<li role="presentation"><a href="#safari" role="tab" id="safari-tab" data-toggle="tab" aria-controls="safari">Ayurvedic </a></li>
							<li role="presentation"><a href="#trekking" role="tab" id="trekking-tab" data-toggle="tab" aria-controls="trekking">General Fitness</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="expeditions" aria-labelledby="expeditions-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="/media/about1.jpg" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info">
									<p>Easymeds contains of a section called "Prescriptions". This section contains the name of the diseases with its symptoms and the precautions. By following the symptoms one can detect his/her diseases and can select the medicine of any category given below. It helps them those are not aware about the medicines that they need to take in that disease.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tours" aria-labelledby="tours-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="/assets/images/about2.jpg" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info">
									<p>There is a section in Easymeds that provides medicines of allopathic category.If someone is in a manner to take only allopathic medicine then this section can help him /her in finding out the appropriate medicine.These medicines help in curing very fast by creating the antibodies which are opposite to that of the disease.</p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="tree" aria-labelledby="tree-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="/assets/images/about3.jpg" style="height:263px; width:455px;" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info">
									<p> Easymeds also contains a section of the homopathic medicines. If any anybody is in a manner to take homopathy medicine then this section is helpful to him in finding so. Homopathic medicine does not makes any bad impacts on your body as like the other medicines. It made your body able to fight with the diseases.It do not have any side affect on the body. </p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="safari" aria-labelledby="safari-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="/assets/images/about4.jpg" style="height:263px; width:455px;" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info">
									<p>Easymeds also contains a section of the Ayurvedic medicines. If any anybody is in a manner to take Ayurvedic medicine then this section is helpful to him in finding so. Ayurvedic medicines is one of the ancient medicine that human is using to get out of any disease. It is the medicine that is only made from the natural remedies of trees and plants. it will help you to know you about the medicines that are used in your daily life and can help you to remain healthy and fit.     </p>
								</div>
								<div class="clearfix"></div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="trekking" aria-labelledby="trekking-tab">
								<div class="col-md-5 col-sm-5 tab-image">
									<img src="/assets/images/about5.jpg"  style="height:263px; width:455px;" alt="Medicinal">
								</div>
								<div class="col-md-7 col-sm-7 tab-info">
									<p>There is a section in Easymeds that is "Personal Care'.This section contain all that things that are not medicines but can help us to remain fit and healthy.This section may contain of hand-wash,Protein related products,soaps,body lotions etc. </p>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- //Services -->
		<!--medicinal-->

		<!--//team-->
<div class="review-slider" >
		<div class="sub-hd">
						<h3 class="tittle">OUR LATEST <span>NEWS</span></h3>
					</div>
	                     <ul id="flexiselDemo1" >
							 {% for j in a_data %}
								<li>
									<div class="thumbnail" style="margin-bottom:0px; " >
										<img src="../media/{{ j.image }}" alt="/" >
										<div class="caption">
											<h3 style="font-weight:bold;">{{ j.med_name|slice:"20" }}</h3>
											<p>{{ j.price }}</p>
											<div class="hua" style="height:36px; width:214px; background-color:#23b5b9; padding-top:7px; margin-left:14px;"><a href="{% url 'first_panel:medicine_detail' %}?id={{j.id}}" style="color:white; font-style:bold">Click here!</a></div>
										</div>
									</div>
								</li>
							  {% endfor %}
						 </ul>
</div>

   <!--/reviews-->



							<script type="text/javascript">
						$(window).load(function() {
						  $("#flexiselDemo1").flexisel({
								visibleItems:4,
								animationSpeed: 1000,
								autoPlay: true,
								autoPlaySpeed: 3000,
								pauseOnHover: false,
								enableResponsiveBreakpoints: true,
								responsiveBreakpoints: {
									portrait: {
										changePoint:480,
										visibleItems: 2
									},
									landscape: {
										changePoint:640,
										visibleItems: 3
									},
									tablet: {
										changePoint:800,
										visibleItems: 4
									}
								}
							});
							});
						</script>
						<script type="text/javascript" src="/assets/js/jquery.flexisel.js"></script>
         </div>
   <!--//news-->
{% endblock %}