{% load static from staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
<title> {% block title %}
{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="applisalonion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/assets/css/style.css" rel='stylesheet' type='text/css' />
	<link type="text/css" rel="stylesheet" href="/assets/css/easymeds.css">
<link rel="stylesheet" href="/assets/css/slider.css">
<script src="/assets/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/assets/js/move-top.js"></script>
<script type="text/javascript" src="/assets/js/easing.js"></script>
<!--/web-font-->
<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
<!--/script-->
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<script>
	$(document).ready(function(){
  $(".toggle").click(function(){
    $(".log").toggle();
  });
});
   $(document).ready(function(){
  $(".med_tog").click(function(){
    $(".med_cat").toggle();
  });
});


 $(document).ready(function(){
  $(".presc").click(function(){
    $(".pres").toggle();
  });
});
</script>


</head>
<body>
<!--start-home-->

<div class="main-header" id="house">
			<div class="header-middle">
			  <div class="header-search">
			   <form action="#" method="post">
				<div class="search">
					<input type="search" value="Search"  name="search" style="margin-left:100px;" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" required="">
				</div>

				<div class="sear-sub" style="margin-right:100px;">
					<input type="submit" value=" ">
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div>
		<!--header-top-->
			<div class="header-top">
			  <div class="container">
					 <nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
					  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
						<div class="logo">
							<h1><a class="navbar-brand" href="{% url 'first_panel:index' %}"><span>EASY</span>meds <img src="/assets/images/logo2.png" alt=" " /></a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						  <div class="top-menu">
							<nav class="menu menu--francisco">
									<ul class="nav navbar-nav menu__list">
										<li class="menu__item menu__item--current"><a href="{% url 'first_panel:index' %}" class="menu__link"><span class="menu__helper">Home</span></a></li>
                                        <li class="menu__item"><a href="#" class="menu__link med_tog"><span class="menu__helper">Medicine</span></a></li>
										<li class="menu__item"><a href="#" class="menu__link presc"><span class="menu__helper">Prescription</span></a></li>
										<li class="menu__item"><a href="#" class="menu__link toggle"><span class="menu__helper">Login</span></a></li>
										<li class="menu__item"><a href="/registration_page/" class="menu__link"><span class="menu__helper">Register</span></a></li>

									</ul>
								</nav>
							</div>
					</div>
					<!-- /.navbar-collapse -->
				</nav>

			   <div class="clearfix"></div>
			</div>
	</div>


	<div class="pres">
			 {% if data %}
			 {% for i in data %}
			 <div class="dis">
				 <a href="{% url 'backend_panel:prescription_detail' %}?id={{i.id}}" class="same_cls">{{ i.dis_name }}</a>
			 </div>
			 {% endfor %}
			 <div class="view-all">
				 <a href="/prescription/" class="view">View all</a>
			 </div>
			 {% endif %}
	</div>

	<div class="med_cat">
			 <div class="aha">
				 <a href="/aleophetic_details/" class="hr">Allopathy</a>
			 </div>
			 <div class="aha">
				 <a href="/Homopathy/" class="hr">Homopathy</a>
			 </div>
			 <div class="aha">
				 <a href="/Ayurvedic/" class="hr">Ayurvedic</a>
			 </div>
	</div>
	<div class="log">
			 <form method="post" action="/login/" >
				 {% csrf_token %}
				 <div class="lab">
					 <label class="l">USERNAME:</label>
					 <input type="text" name="username" class="inlog" >
				 </div >
				 <div class="lab">
					 <label class="l">PASSWORD:</label>
					 <input type="text" name="password" class="inlog" >
				 </div>
				 <div class="lab">
					 <input type="submit"  value="login" class="bda">
				 </div>
			 </form>
			 <div class="for1">
				 <a href="forget_password" class="for2">Forgotten-password?</a>
			 </div>
			 <div class="for1">
				 <a href="/registration_page/" class="for2">Sign-up</a>
			 </div>
	</div>
<!--//header-top-->
	{% block dataa %}
	{% endblock %}
 {% block content %}
	{% endblock %}
	<!--/start-footer-section-->

	<!--//end-footer-section-->
	<!--//footer-->
	<div class="footer-bottom">
		<div class="container">
			<p>© 2016 Medicinal. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>
		<!--start-smooth-scrolling-->
						<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
								<!--end-smooth-scrolling-->
		<a href="#house" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<script src="/assets/js/bootstrap.js"></script>

</body>
</html>