<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset_password</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <div>
        <label>OTP:</label>
        <input type="text" name="otp" placeholder="enter otp">
    </div>
    <div>
        <label>New password:</label>
        <input type="text" name="new_password" placeholder="enter new password">
    </div>
    <div>
        <label>Confirm password:</label>
        <input type="text" name="con_password" placeholder="confirm password">
    </div>
    <input type="submit" value="reset">
</form>
</body>
</html>