{% extends 'masterPage.html' %}
{% block title %}
Update Password
{% endblock %}
{% block content %}
<div class="pura">
    <h1 class="create">Update Password</h1>
<div class="registration form">
    <form method="post">
        {% csrf_token %}
        <div class="form_group">
            <label class="le">NEW PASSWORD:</label>
            <input type="password" name="new_pass" class="pu in">
        </div>
        <div class="form_group">
            <label class="le">CONFIRM PASSWORD:</label>
            <input type="password" name="con_pass" class="pu in">
        </div>
        <div>
            <input type="submit" value="Submit" class="pu submit">
        </div>
    </form>
</div>
</div>
{% endblock %}